<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% comment %} <link rel="stylesheet" href="static/css/all.css"> {% endcomment %}

    <title>Office Employee management system</title>
  </head>
  <body style="background-image:url('{% static 'images/home.jpg' %}'); background-repeat: no-repeat;background-size:100%;"> 
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/index">
          <img src="static/images/logo.png" alt="" width="50" height="50">
        </a>
      

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/all_emp">All Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_emp">Add Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/remove_emp">Remove Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/filter_emp">Filter Employee</a>
            </li>
            
          </ul>
        </div>
        </div>
      </div>
    </nav>

    <div class="company-info">
      <h3 color='orenge'> ONLY HANDLE FOR HR </h3> <hr><br> <br>
      <h2>IT Company Information</h2>
      <p><strong>Company Name:</strong> AKASH Tech Solutions</p>
      <p><strong>Address:</strong> 123 Main Street, Thane, India</p>
      <p><strong>Phone:</strong> +91 8010059894</p>
      <p><strong>Email:</strong> info@abctech.com</p>
      <p><strong>Website:</strong> www.akashtech.com</p>
      <p><strong>About:</strong> AKASH Tech Solutions is a leading IT company specializing in software development, web design, and IT consulting services.<br> We strive to deliver innovative solutions to our clients to help them achieve their business goals.</p>
  </div>

    
  </body>
</html>